<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
  <link rel="stylesheet" href="styles.css">
  <title>Home</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="home.html"><img src="imagenes/logo3.jpg" alt="" width="120px" height=80px"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="home.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="catalogo.html">Catálogo</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Tu Perfil
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="tokens.html">Tokens</a></li>
              <li><a class="dropdown-item" href="seguridad.html">Seguridad de Usuario</a></li>
              <li><hr class="dropdown-divider"></li>
              <button id="botonlog" onclick="document.getElementById('id01').style.display='block'">Iniciar Sesion</button>
              <button id="botonlogout" onclick="document.getElementById('id02').style.display='block'">Cerrar Sesion</button>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contacto.html">Contacto</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
      </div>
    </div>
  </nav>
  <!-- The Modal -->
<div id="id01" class="modal">
<span onclick="document.getElementById('id01').style.display='none'"
class="close" title="Close Modal">&times;</span>

<!-- Modal Content -->
<form class="modal-content animate" action="/action_page.php">
<div class="imgcontainer">
  <img src="imagenes/username-icon-24.jpg" alt="Avatar" class="avatar">
</div>

<div class="container">
  <label for="uname"><b>Username</b></label>
  <input type="text" placeholder="Enter Username" name="uname" required>

  <label for="psw"><b>Password</b></label>
  <input type="password" placeholder="Enter Password" name="psw" required>

  <button class="btnloginchico" type="submit">Login</button>
  <label class="remember">
    <input type="checkbox" checked="checked" name="remember"> Recordarme
  </label>
</div>

<div class="container" style="background-color:#f1f1f1">
  <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn1">Cancel</button>
  <span class="olvido">Forgot <a href="#" class="olvido">password?</a></span>
</div>
</form>
</div>
<div id="id02" class="modal modal2">
<span onclick="document.getElementById('id02').style.display='none'"
class="close" title="Close Modal">&times;</span>
<form class="modal-content animate" action="/action_page.php">
<div class="imgcontainer">
<h1>Desea Cerrar Sesion?  </h1>
</div>

<div class="container">


</div>

<div class="container" style="background-color:#f1f1f1">
<button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn cancel1">Aceptar</button>
<button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn1 sumbit1">Cancelar</button>
</div>
</form>

</div>
<script>
// Get the modal
var modal = document.getElementById('id01');


// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
if (event.target == modal) {
  modal.style.display = "none";
}
}

</script>
<br>
  <div class="container2">
    <div id="carouselExampleRide" class="carousel slide" data-bs-ride="true">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="imagenes/img_home/ERING.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="imagenes/img_home/FORZA.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="imagenes/img_home/GOW.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <br>
  <h1>Bienvenidos a ADN-Gaming</h1>
  <!-- Contenedor iamgenes home-->
  <div class="container_home ">
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col">
        <div class="card ">
          <a href="home.html"><img src="imagenes/logo3.jpg" class="img-thumbnail w-100% m-auto " alt="..."></a>
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text">Conoce ADN-Gaming</p>

          </div>
        </div>
      </div>
      <div class="col">
        <div class="card ">
          <a href="catalogo.html"><img src="imagenes/img_home/juegosVEND.jpg" class="img-thumbnail w-100 m-auto " alt="..."></a>
          <div class="card-body">
            <h5 class="card-title">Lo mas Vendido</h5>
            <p class="card-text"></p>

          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <a href="GOW.html"><img src="imagenes/img_home/juegosoferta.jpg" class="img-thumbnail w-100 m-auto" alt="..."></a>
          <div class="card-body">
            <h5 class="card-title">Ofertas Especiales</h5>
            <p class="card-text"></p>

          </div>
        </div>
      </div>
      <div class="col">
        <div class="card ">
          <img href="Re4.html" src="imagenes/img_home/lanzamientos.jpg" class="img-thumbnail w-100 m-auto " alt="...">
          <div class="card-body">
            <h5 class="card-title">Proximamente disponibles</h5>
            <p class="card-text"></p>


          </div>
        </div>
      </div>
      <div class="col">
        <div class="card ">
          <img href="contacto.html" src="imagenes/img_home/bannerRRSS.jpg" class="img-thumbnail w-100 m-auto "
            alt="...">
          <div class="card-body">
            <h5 class="card-title">Nuestras redes sociales</h5>
            <p class="card-text"></p>


          </div>
        </div>
      </div>
      <div class="col">
        <div class="card ">
          <img href="tokens.html" src="imagenes/img_home/token1.jpg.webp" class="img-thumbnail w-100 m-auto " alt="...">
          <div class="card-body">
            <h5 class="card-title">Sistema de Tokens</h5>



          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="contenedor4">
    <a href="catalogo.html">
      <img id="img_cont4_l" src="imagenes/si.png" alt="">
    </a>
    <a href="ofertas_especiales.html">
      <img id="img_cont4_r" src="imagenes/img_home/banner_cont4_R.jpg" alt="">
    </a>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
    crossorigin="anonymous"></script>
</body>

</html>